<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:3000" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Binance API</title>
    <link rel="stylesheet" href="./layout.css">
    <link href='https://css.gg/close.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000");
        socket.on("server-send-prices", function (data) {
            $("h2.prices-btc").html(data);
        });
        $(document).ready(function () {
            $("#on").click(function(){
                var amount = parseFloat($("#amount").val())
                $.get("./on/"+amount, function(data) {
                    // alert("Bot is Running.")
                    console.log(data);
                });
            });
            $("#off").click(function(){
                $.get("./off", function(data) {
                    // alert("Bot is Ended.")  
                    console.log(data);
                });
            });
        });
    </script>
</head>

<body>
    <div class="message">
        <i class="gg-close" style="position: absolute; right: 0; top: 0; z-index: 100;"></i>
    </div>
    <div class="container-text">
        Binance Trading
    </div>
    <div id="contain">
        <div id="left">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div id="tradingview_8f57a"></div>
                <div class="tradingview-widget-copyright"><a
                        href="https://vn.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener"
                        target="_blank"><span class="blue-text">BTCUSDT biểu đồ</span> </a> từ TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                    new TradingView.widget(
                        {
                            "width": 980,
                            "height": 610,
                            "symbol": "BINANCE:BTCUSDT",
                            "interval": "60",
                            "timezone": "Asia/Ho_Chi_Minh",
                            "theme": "light",
                            "style": "1",
                            "locale": "vi_VN",
                            "toolbar_bg": "#f1f3f6",
                            "enable_publishing": false,
                            "withdateranges": true,
                            "allow_symbol_change": true,
                            "container_id": "tradingview_8f57a"
                        }
                    );
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
        <div id="right">
            <h1>BTC/USDT</h1>
            <h2 class="prices-btc" style="font-size: 30px;"></h2>

            <h1>BALANCE</h1>
            <h2 class="balance" style="font-size: 30px;">X</h2>

            <h1>TRADING BOT</h1>
            <label for="amount">Amount: </label>
            <input type="text" id="amount" name="amount" value="0.01" placeholder="0.01">
            <br>
            <button class="button" id="on" onclick="changeColor(1)"><span>On </span></button>
            <button class="button" id="off" onclick="changeColor(-1)"><span>Off </span></button>
        </div>  
    </div>
</body>

</html>

<script>
    const btns = document.querySelectorAll('.button')
    const mess = document.querySelector('.message')
    const closeIcon = document.querySelector('.gg-close')
  
    function show(){
        mess.classList.add('open')
    }
    function hide(){
        mess.classList.remove('open')
    }
    for(const btn of btns){
        btn.addEventListener('click', show)
    }
    closeIcon.addEventListener('click', hide)


    function changeColor(str) {
        var onBtn = document.getElementById("on");
        var offBtn = document.getElementById("off");
        if(str==1){
            offBtn.classList.remove("greenColor");
            onBtn.classList.toggle("greenColor");
        }else {
            offBtn.classList.toggle("greenColor");
            onBtn.classList.remove("greenColor");
        }
    }
</script>

