body{
    background-color: aliceblue;
    text-align: center;
}

#left {
    width: 60%;
    float: left;
    min-height: 500px;
}

#right{
    width: 40%;
    background-color: whitesmoke;
    float: right;
    min-height: 500px;
}


